<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>512881681027-96q1napvvao0ebq2qkvcig25jkomm445.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.512881681027-96q1napvvao0ebq2qkvcig25jkomm445</string>
	<key>API_KEY</key>
	<string>AIzaSyAgmd3quyM4gedJ32WNg3gs0z6Ln3wCO8c</string>
	<key>GCM_SENDER_ID</key>
	<string>512881681027</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.pro.mateus.cameraExercicio</string>
	<key>PROJECT_ID</key>
	<string>cameraexercicio-f3597</string>
	<key>STORAGE_BUCKET</key>
	<string>cameraexercicio-f3597.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:512881681027:ios:be54fdc10ea2bb918031b6</string>
</dict>
</plist>